
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");


$main-font: 'Raleway', sans-serif;
$nunito:'Nunito', sans-serif;

// morning
$mustard: #ffd375;
$white: #fff7e5;
$morning-orange: #ffa335;
$morning-light-yellow:#fff9c1;

// afternoon
$sand:#ef943f;
$blue:#0019c7;
$green: #496663;
$highlight-orange: #e77972;
$gray:#a8aab8a3;
$highlight-yellow:#ffd77b;
$dark-orange:#ff4900;


// night
$night-highlight-green: #719291;
$night-gray: #737373;
$night-dark-green:#09547e;
$night-ligt-blue: #3193c1;
$night-lighter-blue: #6695bb;
$night-purple: #6a00f4;