
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");


$main-font: 'Raleway', sans-serif;
$nunito:'Nunito', sans-serif;

// afternoon
$sand:#d4bfab;
$blue:#0019c7;
$green: #496663;
$highlight-orange: #ffd6a0;
$gray:#a8aab8a3;
$highlight-yellow:#ffdd46;
$dark-orange:rgb(139, 74, 0);


// morning
$mustard: #ecc24d;
$white: rgb(255, 246, 246);
// night
$highlight-green: #719291;
$dark-green:#1a2d33;